{% extends 'base.html' %}

{% block title %}
    <title> Home Page</title>
{% endblock %}

{% block body %}
    <section>
        <div class="container my-5">
            <h1>Tracker Master</h1>
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>User Agent</th>
                        <th>Visit count</th>
                        <th>Time of latest visit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, values in trackers.items() %}
                    <tr>
                        <td>{{key}}</td>
                        {% for data in values %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}